<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>
            <a href="#set">Sets</a>
            <ul>
                <li><a href="content">Set Content</a></li>
                <li><a href="op">Set Operations</a></li>
                <li><a href="logic">Sets Logic Operations</a></li>
            </ul>
        </li>
        <li>
            <a href="#quiz">Quiz on Sets</a>
        </li>
    </ul>
 
</div>

<hr>

<h2 id="set">Sets</h2>

<h3 id="content">Set Content</h3>

A set is a unique collection of objects in Python. You can denote a set with a pair of curly brackets <b>{}</b>. Python will automatically remove duplicate items:

In [127]:
# Create a set

set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

The process of mapping is illustrated in the figure:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsUnique.png" width="1100">

 You can also  create a set from a list as follows:

In [128]:
# Convert list to set

album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

Now let us create a set of  genres:

In [129]:
# Convert list to set

music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

<h3 id="op">Set Operations</h3>

Let us go over set operations, as these can be used to change the set. Consider the set <b>A</b>:

In [130]:
# Sample set

A = set(["Thriller", "Back in Black", "AC/DC"])
B = {"Thriller", "Back in Black", "AC/DC"}
print(A)
print(B)

{'AC/DC', 'Thriller', 'Back in Black'}
{'AC/DC', 'Thriller', 'Back in Black'}

 We can add an element to a set using the <code>add()</code> method:

In [131]:
# Add element to set

A.add("NSYNC1")
B.add("NSYNC1")
print(A)
print(B)

{'NSYNC1', 'AC/DC', 'Thriller', 'Back in Black'}
{'NSYNC1', 'AC/DC', 'Thriller', 'Back in Black'}

 If we add the same element twice, nothing will happen as there can be no duplicates in a set:

In [132]:
# Try to add duplicate element to the set

A.add("NSYNC2")
B.add("NSYNC2")
print(A)
print(B)

{'NSYNC1', 'NSYNC2', 'Thriller', 'Back in Black', 'AC/DC'}
{'NSYNC1', 'NSYNC2', 'Thriller', 'Back in Black', 'AC/DC'}

 We can remove an item from a set using the <code>remove</code> method:

In [133]:
# Remove the element from set

# A.remove("NSYNC1")
print(A)
print(B)

{'NSYNC1', 'NSYNC2', 'Thriller', 'Back in Black', 'AC/DC'}
{'NSYNC1', 'NSYNC2', 'Thriller', 'Back in Black', 'AC/DC'}

 We can verify if an element is in the set using the <code>in</code> command:

In [134]:
# Verify if the element is in the set

"AC/DC" or "NSYNC1" in A

'AC/DC'

<h3 id="logic">Sets Logic Operations</h3>

Remember that with sets you can check the difference between sets, as well as the symmetric difference, intersection, and union:

 Consider the following two sets:

In [135]:
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set(['AC/DC', 'Back in Black',  "The Dark Side of the Moon"])
print(album_set1)
print(album_set2)

{'Thriller', 'Back in Black', 'AC/DC'}
{'The Dark Side of the Moon', 'Back in Black', 'AC/DC'}

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsSamples.png" width="1200">

In [136]:
# Print two sets

album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

As both sets contain <b>AC/DC</b> and <b>Back in Black</b> we represent these common elements with the intersection of two circles.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsLogic.png" width="1200">

You can find the intersect of two sets as follow using <code>&</code>:

In [137]:
# Find the intersections

intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

You can find all the elements that are only contained in <code>album_set1</code> using the <code>difference</code> method:

In [138]:
# Find the difference in set1 but not set2

album_set1.difference(album_set2)

{'Thriller'}

You only need to consider elements in <code>album_set1</code>; all the elements in <code>album_set2</code>, including the intersection, are not included.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsLeft.png" width="1200">

The elements in <code>album_set2</code> but not in <code>album_set1</code> is given by:

In [139]:
album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsRight.png" width="1200">

You can also find the intersection of <code>album_list1</code> and <code>album_list2</code>, using the <code>intersection</code> method:

In [140]:
# Use intersection method to find the intersection of album_list1 and album_list2

album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

 This corresponds to the intersection of the two circles:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsIntersect.png" width="1200">

The union corresponds to all the elements in both sets, which is represented by coloring both circles:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/SetsUnion.png" width="650">

 The union is given by:

In [141]:
# Find the union of two sets

print(album_set1.union(album_set2))
print(album_set1)

{'The Dark Side of the Moon', 'Back in Black', 'AC/DC', 'Thriller'}
{'Thriller', 'Back in Black', 'AC/DC'}

And you can check if a set is a superset or subset of another set, respectively, like this:

In [142]:
# Check if superset
print(album_set1)
print(album_set2)
print(set(album_set1).issuperset(album_set2))

{'Thriller', 'Back in Black', 'AC/DC'}
{'The Dark Side of the Moon', 'Back in Black', 'AC/DC'}
False

In [143]:
# Check if subset
print(album_set1)
print(album_set2)
set(album_set2).issubset(album_set1)

{'Thriller', 'Back in Black', 'AC/DC'}
{'The Dark Side of the Moon', 'Back in Black', 'AC/DC'}

False

Here is an example where <code>issubset()</code> and <code>issuperset()</code> return true:

In [144]:
# Check if subset
a = set({"Back in Black" and "AC/DC"})
# set({"Back in Black", "AC/DC"}).issubset(album_set1)
a.issubset(album_set1 and album_set2)

True

In [145]:
# Check if superset

album_set1.issuperset(a), album_set1.issuperset({"Back in Black", "AC/DC"})

(True, True)

<hr>

<h2 id="quiz">Quiz on Sets</h2>

Convert the list <code>['rap','house','electronic music', 'rap']</code> to a set:

In [146]:
# Write your code below and press Shift+Enter to execute
set1 = set(['rap','house','electronic music', 'rap'])
set1
type(set1)

set

<details><summary>Click here for the solution</summary>

```python
set(['rap','house','electronic music','rap'])

```

</details>

<hr>

Consider the list <code>A = [1, 2, 2, 1]</code> and set <code>B = set([1, 2, 2, 1])</code>, does <code>sum(A) == sum(B)</code>?

In [147]:
# Write your code below and press Shift+Enter to execute
A = set([1, 2, 2, 1])
B = set([1, 2, 2, 1])
# sum(A) == sum(B)
# A == B
# A = B
# A, B
A
sum(A) == sum(B)
print("the sum of A is:", sum(A))
print("the sum of B is:", sum(B))

the sum of A is: 3
the sum of B is: 3

<details><summary>Click here for the solution</summary>

```python
A = [1, 2, 2, 1]  
B = set([1, 2, 2, 1])
print("the sum of A is:", sum(A))
print("the sum of B is:", sum(B))

```

</details>

<hr>

Create a new set <code>album_set3</code> that is the union of <code>album_set1</code> and <code>album_set2</code>:

In [148]:
# Write your code below and press Shift+Enter to execute

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set3 = album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

<details><summary>Click here for the solution</summary>

```python
album_set3 = album_set1.union(album_set2)
album_set3

```

</details>

<hr>

Find out if <code>album_set1</code> is a subset of <code>album_set3</code>:

In [149]:
# Write your code below and press Shift+Enter to execute
album_set1.issubset(album_set3)

True

<details><summary>Click here for the solution</summary>

```python
album_set1.issubset(album_set3)

```

</details>